/* Box sizing will allow us to more reliably predict how elements work with margins and padding */
* {
  box-sizing: border-box;
}
/* This will be easier to work with the responsive Rem unit.  Unfortunately bootstrap appears to be geared towards 16px font-size so this doesn't really work */
/* :root {
  font-size: 10px;
} */

body {
  padding: 0;
  margin: 0;
  --primary-color: blue;
  --secondary-color: red;
  --background-color: black;
  --highlight-color: green;
}

/* Products Specifics Section */
.product-grid {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MiniGame CSS */
#driveArea {
  height: calc(100vh - 5rem);
  position: relative;
}

#gameCar {
  position: absolute;
  top: 100px;
  left: 100px;
  height: 4rem;
  width: 3rem;
  object-fit: fill;
  transform: scale(1.1);
}
#alertMessage.alert-success {
  cursor: pointer;
}

#alertMessage.alert-success:hover {
  filter: brightness(0.95);
}
