/* Box sizing will allow us to more reliably predict how elements work with margins and padding */
* {
  box-sizing: border-box;
}
/* This will be easier to work with the responsive Rem unit.  Unfortunately bootstrap appears to be geared towards 16px font-size so this doesn't really work */
/* :root {
  font-size: 10px;
} */

body {
  padding: 0;
  margin: 0;
  --primary-color: #910a2d;
  --secondary-color: #606060;
  --background-color: #f5f5f5;
  --highlight-color: green;
  --black-substitute: #1a1a1a;
}

/* Custom Classes */
/* background */
.lucky-bg-primary {
  background-color: var(--primary-color);
}
.lucky-bg-secondary {
  background-color: var(--secondary-color);
}
.lucky-bg-background {
  background-color: var(--background-color);
}
.lucky-bg-hightlight {
  background-color: var(--highlight-color);
}
.lucky-bg-black {
  background-color: var(--black-substitute);
}

/* Border Color Classes */
.lucky-border-primary {
  border-color: var(--primary-color);
}
.lucky-border-secondary {
  border-color: var(--secondary-color);
}
.lucky-border-background {
  border-color: var(--background-color);
}
.lucky-border-highlight {
  border-color: var(--highlight-color);
}
.lucky-border-highlight {
  border-color: var(--highlight-color);
}
/* Use !important to ensure the border style (solid) and width (1px) are applied if the element doesn't already have a border defined */
.lucky-border-primary,
.lucky-border-secondary,
.lucky-border-background,
.lucky-border-highlight {
  border-style: solid !important;
  border-width: 1px !important;
}

/* Text Color Classes */
.lucky-text-primary {
  color: var(--primary-color);
}
.lucky-text-secondary {
  color: var(--secondary-color);
}
.lucky-text-background {
  color: var(--background-color);
}
.lucky-text-highlight {
  color: var(--highlight-color);
}
.lucky-text-black {
  color: var(--black-substitute);
}

.behind {
  z-index: -5;
}

.nav-pills .nav-link.active {
  background-color: var(--primary-color);
  color: white;
  padding-left: 0.5rem;
}
/* Banner Specifics */
.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(./images/CarCarFinance.jpg);
  height: 10rem;
  background-size: cover;
}

/* Navbar Specifics Section */
.nav-img {
  width: 4rem;
}

.nav-container {
  margin-top: 10rem;
}

@media screen and (max-width: 768px) {
  .nav-container {
    margin-top: 15rem;
  }
  .banner {
    height: 15rem;
  }
  .banner h3 {
    margin-bottom: 2rem;
  }
}

/* Products Specifics Section */
.product-grid {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  justify-items: center;
}

.product-card-img {
  aspect-ratio: 5/3;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 520px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* MiniGame CSS */
#driveArea {
  height: calc(100vh - 8rem);
  position: relative;
  background-color: var(--secondary-color);
}

#gameCar {
  position: absolute;
  top: 100px;
  left: 100px;
  height: 4rem;
  width: 3rem;
  object-fit: fill;
  transform: scale(1.1);
}
#alertMessage.alert-success {
  cursor: pointer;
}

#alertMessage.alert-success:hover {
  filter: brightness(0.95);
}

/* finance css, lifted from W3Schools for the moment */
.slidecontainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slidecontainer p {
  width: 8rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 80px; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */
  border: 0;
  background: url("./assets/MotorLogo.webp") center center no-repeat;
  background-size: cover;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 80px; /* Adjust width as needed */
  height: 80px; /* Adjust height as needed */
  border: 0;
  background: url("./assets/MotorLogo.webp") center center no-repeat;
  background-size: cover;
  cursor: pointer;
}

.p_finance_class {
  text-align: justify;
  text-justify: inter-word;
}

/* moved from the html style tag */
.finance-results-box {
  background-image: url("../images/CarCarFinance.jpg"); /* Replace 'path/to/your/image.jpg' with the actual path to your background image */
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  padding: 20px;
}

/* Overlay to ensure text readability */
.overlay {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Adjust the alpha value to control the overlay opacity */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* Text inside the box */
.finance-text {
  position: relative;
  z-index: 2;
  color: #000; /* Adjust text color as needed */
}

.center_finance_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
